.creation-div {
  height: 100%;
  width: 100%;
  padding-top: 1cm;
  padding-left: 1cm;
  padding-right: 1cm;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.creation-div-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  padding-bottom: 24px;
}

.center-text {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
