.overview-main-div {
    position: relative;
    flex-grow: 1;
    max-width: 1000px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.overview-top {
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
}

.overview-card-container {
    width: fit-content;
    height: 100%;
    overflow: visible;

    display: flex;
    flex-direction: row;
}

.overview-card-container-column {
    display: flex;
    flex-direction: column;
}